.mdeForm {
  input {
    font-family: monospace;
    border: 1px solid #6c757d;
    box-sizing: border-box;
    margin-bottom: 1.5rem;
    width: 100%;
    background-color: #fff;
    border-radius: .2rem;
    padding: 0.4rem 0.6rem;
  }
  label {
    font-family: 'Fira Sans', sans-serif;
    display: block;
    margin-bottom: .5rem;
  }
  .top {
    align-items: baseline;
    justify-content: space-between;
    display: flex;
  }
}